/* _base.scss */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset & Global Styles */
body {
    font-family: var(--font-primary);
    /* บังคับใช้ Poppins ทั้งเว็บ */
    background-color: var(--color-bg-body);
    color: var(--color-text-main);
    -webkit-font-smoothing: antialiased;
    /* ทำให้ฟอนต์คมชัดบน Mac/iOS */
}

/* บังคับหัวข้อทั้งหมดให้ใช้ Poppins ด้วย */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: var(--font-primary);
    font-weight: 600;
    color: var(--color-psu-dark-blue);
    /* หัวข้อเป็นสีน้ำเงินธีมเสมอ */
}